/* Import custom fonts */
@import url("fonts.css");

:root {
  /* Font */
  /* Font-Family */
  --ff-bold: "Adineue PRO Bold", "Segoe UI", sans-serif;
  --ff-regular: "Adineue PRO", "Segoe UI", sans-serif;
  --ff-light: "Adineue PRO Light", "Segoe UI", sans-serif;

  /* Font-Size */
  --fs-header: 3rem; /* 48px */
  --fs-subheader: 2.5rem; /* 40px */
  --fs-title: 2rem; /* 32px */
  --fs-productName: 1.75rem; /* 28px */
  --fs-subtitle: 1.25rem; /* 20px */

  --fs-large-btn: 1.25rem; /* 20px */
  --fs-small-btn: 0.75rem; /*12px */

  --fs-nav: 1.25rem; /* 20px */
  --fs-footer: 1rem; /* 16px */

  --fs-body: 1rem; /* 16px */

  /* Colors */
  /* Neutral colors */
  --clr-neutral-900: hsl(252, 6%, 17%); /* #29282D */
  --clr-neutral-850: hsl(240, 2%, 18%); /* #2E2E30 */
  --clr-neutral-800: hsl(260, 3%, 20%); /* #333235 */
  --clr-neutral-750: hsl(240, 2%, 20%); /* #333335 */
  --clr-neutral-700: hsl(240, 2%, 24%); /* #3D3D3F */
  --clr-neutral-600: hsl(240, 1%, 31%); /* #4E4E50 */
  --clr-neutral-500: hsl(0, 0%, 35%); /* #595959 */
  --clr-neutral-400: hsl(249, 3%, 39%); /* #626168 */
  --clr-neutral-300: hsl(0, 0%, 56%); /* #909090 */
  --clr-neutral-100: hsl(0, 0%, 100%); /* #FFFFFF */

  /* Gradient colors */
  --clr-gradient-clr-left: hsl(356, 100%, 69%); /* #FF626D */
  --clr-gradient-clr-right: hsl(26, 96%, 72%); /* #FCAD72 */
  --clr-bg-gradient: linear-gradient(
    90deg,
    var(--clr-gradient-clr-left) 0%,
    var(--clr-gradient-clr-right) 100%
  );
}

/* ======================================================================== 
||                              General                                  ||
||                         -----------------                             ||
||                                                                       ||
||                                                                       ||
======================================================================== */

body {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
}

a {
  text-decoration: none;
  display: inline-block;
}

/* End General */

/* ======================================================================== 
||                             Typography                                ||
||                          ----------------                             ||
||                                                                       ||
||                                                                       ||
======================================================================== */

.primary-navigation .nav-link a {
  font-family: var(--ff-bold);
  font-size: var(--fs-nav);
  color: var(--clr-neutral-100);
}

/* End Typography */

/* ======================================================================== 
||                             Navigation                                ||
||                          ----------------                             ||
||  1.  Logo                                                             ||
||  2.  Links                                                            ||
||  3.  Menu-Burger button                                               ||
||  4.  Mobile view                                                      ||
||                                                                       ||
======================================================================== */

.primary-header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;

  background: var(--clr-bg-gradient);
}

.primary-header .wrapper {
  display: flex;
  height: 100%;

  padding: 0 16px;

  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 34px;
}

.logo img {
  width: 158px;
  height: 34px;
}

.primary-navigation {
  background: hsl(0, 0%, 0%, 0.8);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0, 0%, 0%, 0.5);
    backdrop-filter: blur(1rem);
  }
}

.primary-navigation {
  display: flex;
  position: fixed;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  transform: translateX(100%) translateY(calc(50% + 35px));
  transition: transform 350ms ease-out;

  z-index: 1000;

  /* display: none; */
}

.primary-navigation[data-visible="true"] {
  left: 50%;
  transform: translateX(-50%) translateY(calc(50% + 35px));
}

.primary-nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  gap: 2rem;

  margin: 0;
  padding: 0;
}

.primary-navigation .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-icon-container .mobile-burger {
  margin-left: 16px;
}

.search-icon {
  display: none;
}

/* End Navigation */
