/* CSS/fonts.css */

/* Adineue PRO Regular */
@font-face {
  font-family: "Adineue PRO";
  src: url("../fonts/adineuePRO-Regular.woff2") format("woff2"),
    url("../fonts/adineuePRO-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Adineue PRO Black */
@font-face {
  font-family: "Adineue PRO Black";
  src: url("../fonts/adineuePRO-BlackWeb.woff2") format("woff2"),
    url("../fonts/adineuePRO-BlackWeb.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Adineue PRO Bold */
@font-face {
  font-family: "Adineue PRO Bold";
  src: url("../fonts/adineuePRO-BoldWeb.woff2") format("woff2"),
    url("../fonts/adineuePRO-BoldWeb.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Adineue PRO Light */
@font-face {
  font-family: "Adineue PRO Light";
  src: url("../fonts/adineuePRO-LightWeb.woff2") format("woff2"),
    url("../fonts/adineuePRO-LightWeb.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
