<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/style.css" />

    <script src="Javascript/main.js" defer></script>

    <title>Stieno Shoes</title>
  </head>
  <body>
    <header class="primary-header">
      <div class="wrapper">
        <a href="index.html" class="logo"
          ><img src="assets/logo/Logo.svg" alt="Logo"
        /></a>

        <nav
          id="primary-navigation"
          data-visible="false"
          class="primary-navigation"
        >
          <img
            src="assets/icons/Icon_Close.svg"
            class="close-btn"
            alt="Close"
          />

          <ul class="primary-nav-list">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>
        </nav>

        <div class="nav-icon-container">
          <a href="#" class="search-icon">
            <img src="assets/icons/Icon_Search.svg" alt="Search" />
          </a>
          <a href="shoppingCart.html" class="shoppingCart-icon">
            <img src="assets/icons/Icon_Shoppingcart.svg" alt="Shopping Cart" />
          </a>
          <a href="#" class="mobile-burger">
            <img src="assets/icons/Icon_Burger.svg" alt="Navigation Menu" />
          </a>
        </div>
      </div>
    </header>

    <section class="banner-section">
      <div class="title-container">
        <h1 class="title">Catalog.</h1>
      </div>

      <div class="popular-card">
        <h3 class="title">FlexFit Fusion</h3>
        <p class="price">€ 145.00</p>
        <a href="catalog.html" class="btn">Go to catalog</a>
      </div>
    </section>

    <div class="catalog-section-container">
      <aside class="filter-container">
        <div class="wrapper"><h2 class="title">Filter.</h2></div>

        <div class="wrapper gender-filter-container">
          <form action="#" method="post" class="gender-filter-form">
            <label for="male-shoes">Men's shoes</label>
            <input type="checkbox" name="male-shoes" id="male-shoes" />

            <label for="female-shoes">Women's shoes</label>
            <input type="checkbox" name="female-shoes" id="female-shoes" />

            <label for="childeren-shoes">Childeren's shoes</label>
            <input
              type="checkbox"
              name="childeren-shoes"
              id="childeren-shoes"
            />
          </form>
        </div>

        <div class="wrapper type-filter-container">
          <form action="#" method="post" class="type-filter-form">
            <label for="casual-shoes">Casual shoes</label>
            <input type="checkbox" name="casual-shoes" id="casual-shoes" />

            <label for="outdoor-shoes">Outdoor shoes</label>
            <input type="checkbox" name="outdoor-shoes" id="outdoor-shoes" />

            <label for="classic-shoes">Classic shoes</label>
            <input type="checkbox" name="classic-shoes" id="classic-shoes" />

            <label for="sport-shoes">Sport shoes</label>
            <input type="checkbox" name="sport-shoes" id="sport-shoes" />
          </form>
        </div>

        <div class="wrapper price-filter-container">
          <p class="filter-title">Pricing</p>

          <form action="#" method="post" class="price-filter-form">
            <input type="text" name="min-price" id="min-price" />
            <input type="text" name="max-price" id="max-price" />
          </form>
        </div>

        <div class="wrapper color-filter-container">
          <p class="filter-title">Colors</p>

          <div class="color-boxes-container">
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
            <div class="color-box">
              <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
            </div>
          </div>
        </div>

        <div class="wrapper size-filter-container">
          <p class="filter-title">Size</p>

          <div class="size-boxes-container">
            <div class="size-box">
              <p>4</p>
            </div>
            <div class="size-box">
              <p>4.5</p>
            </div>
            <div class="size-box">
              <p>5</p>
            </div>
            <div class="size-box">
              <p>5.5</p>
            </div>
            <div class="size-box">
              <p>6</p>
            </div>
            <div class="size-box">
              <p>6.5</p>
            </div>
            <div class="size-box">
              <p>7</p>
            </div>
            <div class="size-box">
              <p>7.5</p>
            </div>
            <div class="size-box">
              <p>8</p>
            </div>
            <div class="size-box">
              <p>8.5</p>
            </div>
            <div class="size-box">
              <p>9</p>
            </div>
            <div class="size-box">
              <p>9.5</p>
            </div>
            <div class="size-box">
              <p>10</p>
            </div>
            <div class="size-box">
              <p>10.5</p>
            </div>
            <div class="size-box">
              <p>11</p>
            </div>
            <div class="size-box">
              <p>11.5</p>
            </div>
            <div class="size-box">
              <p>12</p>
            </div>
            <div class="size-box">
              <p>12.5</p>
            </div>
            <div class="size-box">
              <p>13</p>
            </div>
            <div class="size-box">
              <p>13.5</p>
            </div>
            <div class="size-box">
              <p>14</p>
            </div>
            <div class="size-box">
              <p>14.5</p>
            </div>
            <div class="size-box">
              <p>15</p>
            </div>
            <div class="size-box">
              <p>15.5</p>
            </div>
            <div class="size-box">
              <p>16</p>
            </div>
          </div>
        </div>
      </aside>

      <section class="catalog-section">
        <div class="sort-filter-container">
          <div class="sort-filter">
            <p>Newest</p>
            <img src="assets/icons/Icon_Sort.svg" alt="Sorting" />
          </div>
          <div class="sort-filter">
            <p>Price</p>
            <img src="assets/icons/Icon_Sort.svg" alt="Sorting" />
          </div>
        </div>

        <div class="catalog-container">
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe1.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe2.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe3.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe4.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe5.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe6.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe7.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe8.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe9.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe10.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe11.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe12.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe13.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe14.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe15.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe16.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe17.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe18.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe19.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe20.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
          <a href="product.html" class="catalog-item">
            <div class="product-image">
              <img src="assets/shoes/Shoe21.png" alt="Shoe" />
            </div>
            <div class="product-info">
              <div class="text-container">
                <h4 class="product-title">Velocity Boost</h4>
                <p class="product-price">Pricing € 240.00</p>
              </div>
              <img
                src="assets/icons/Icon_AddCart.svg"
                alt="Add to cart"
                class="add-to-cart-icon"
              />
            </div>
          </a>
        </div>
      </section>
    </div>

    <footer>
      <div class="wrapper">
        <div class="footer-top">
          <a href="index.html" class="logo"
            ><img src="assets/logo/Logo.svg" alt="Logo"
          /></a>

          <ul class="footer-navigation">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>

          <div class="socials-icon-container">
            <a href="#"
              ><img src="assets/icons/Icon_Instagram.svg" alt="Instagram"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Twitter.svg" alt="Twitter X"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Facebook.svg" alt="Facebook"
            /></a>
          </div>
        </div>

        <div class="footer-bottom">
          <p>All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
