<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/style.css" />

    <title>Stieno Shoes</title>
  </head>
  <body>
    <header class="primary-header">
      <a href="index.html" class="logo"
        ><img src="assets/logo/Logo.svg" alt="Logo"
      /></a>

      <nav>
        <ul class="primary-navigation">
          <li class="nav-link"><a href="index.html">Home</a></li>
          <li class="nav-link"><a href="catalog.html">Catalog</a></li>
          <li class="nav-link"><a href="#">About Us</a></li>
        </ul>
      </nav>

      <div class="nav-icon-container">
        <a href="#"><img src="assets/icons/Icon_Search.svg" alt="Search" /></a>
        <a href="#"
          ><img src="assets/icons/Icon_Shoppingcart.svg" alt="Shopping Cart"
        /></a>
      </div>
    </header>

    <section class="banner-section">
      <div class="title-container">
        <h1 class="title">Catalog.</h1>
      </div>

      <div class="popular-card">
        <h3 class="title">FlexFit Fusion</h3>
        <p class="price">€ 145.00</p>
        <a href="catalog.html" class="btn">Go to catalog</a>
      </div>
    </section>

    <aside class="filter-container">
      <div class="wrapper"><h2 class="title">Filter.</h2></div>

      <div class="wrapper gender-filter-container">
        <form action="#" method="post" class="gender-filter-form">
          <label for="male-shoes">Men's shoes</label>
          <input type="checkbox" name="male-shoes" id="male-shoes" />

          <label for="female-shoes">Women's shoes</label>
          <input type="checkbox" name="female-shoes" id="female-shoes" />

          <label for="childeren-shoes">Childeren's shoes</label>
          <input type="checkbox" name="childeren-shoes" id="childeren-shoes" />
        </form>
      </div>

      <div class="wrapper type-filter-container">
        <form action="#" method="post" class="type-filter-form">
          <label for="casual-shoes">Casual shoes</label>
          <input type="checkbox" name="casual-shoes" id="casual-shoes" />

          <label for="outdoor-shoes">Outdoor shoes</label>
          <input type="checkbox" name="outdoor-shoes" id="outdoor-shoes" />

          <label for="classic-shoes">Classic shoes</label>
          <input type="checkbox" name="classic-shoes" id="classic-shoes" />

          <label for="sport-shoes">Sport shoes</label>
          <input type="checkbox" name="sport-shoes" id="sport-shoes" />
        </form>
      </div>

      <div class="wrapper price-filter-container">
        <p class="filter-title">Pricing</p>
        <form action="#" method="post" class="price-filter-form">
          <input type="text" name="min-price" id="min-price" />
          <input type="text" name="max-price" id="max-price" />
        </form>
      </div>

      <div class="wrapper color-filter-container">
        <p class="filter-title">Colors</p>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
        <div class="color-box">
          <img src="assets/icons/Icon_Checkmark.svg" alt="Checkmark" />
        </div>
      </div>
    </aside>

    <footer>
      <div class="wrapper">
        <div class="footer-top">
          <a href="index.html" class="logo"
            ><img src="assets/logo/Logo.svg" alt="Logo"
          /></a>

          <ul class="footer-navigation">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>

          <div class="socials-icon-container">
            <a href="#"
              ><img src="assets/icons/Icon_Instagram.svg" alt="Instagram"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Twitter.svg" alt="Twitter X"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Facebook.svg" alt="Facebook"
            /></a>
          </div>
        </div>

        <div class="footer-bottom">
          <p>All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
