<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/style.css" />

    <title>Stieno Shoes</title>
  </head>
  <body>
    <header class="primary-header">
      <div class="wrapper">
        <a href="index.html" class="logo"
          ><img src="assets/logo/Logo.svg" alt="Logo"
        /></a>

        <nav>
          <ul class="primary-navigation">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>
        </nav>

        <div class="nav-icon-container">
          <a href="#"
            ><img src="assets/icons/Icon_Search.svg" alt="Search"
          /></a>
          <a href="shoppingCart.html"
            ><img src="assets/icons/Icon_Shoppingcart.svg" alt="Shopping Cart"
          /></a>
        </div>
      </div>
    </header>

    <section class="product-section">
      <div class="wrapper">
        <a href="catalog.html" class="back-btn">
          <img src="assets/icons/Icon-ChevronLeft.svg" alt="Back" />
          <p>Back to catalog</p>
        </a>

        <div class="product-container">
          <div class="product-image">
            <img src="assets/shoes/Shoe3.png" alt="Shoe" />
          </div>

          <div class="product-info">
            <h1 class="name">Epic React Elite</h1>
            <p class="color">Arctic Frost ‘White’</p>

            <p class="size-container-label">Select size</p>
            <div class="sizes-container">
              <div class="size-box">
                <p>4</p>
              </div>
              <div class="size-box">
                <p>5</p>
              </div>
              <div class="size-box">
                <p>5.5</p>
              </div>
              <div class="size-box">
                <p>6</p>
              </div>
              <div class="size-box">
                <p>6.5</p>
              </div>
              <div class="size-box">
                <p>7</p>
              </div>
              <div class="size-box">
                <p>8</p>
              </div>
              <div class="size-box">
                <p>9</p>
              </div>
              <div class="size-box">
                <p>9.5</p>
              </div>
              <div class="size-box">
                <p>10</p>
              </div>
            </div>

            <div class="button-price-container">
              <button>+ Add to cart</button>
              <p class="price">€ 230.00</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="description-section">
      <div class="wrapper">
        <div class="description-container">
          <h2 class="title">Description.</h2>
          <p class="subtitle">About model</p>
          <p class="text">
            Unleash your running potential with the Nike Epic React Elite. These
            lightweight and responsive running shoes feature the innovative
            React foam for exceptional energy return. The Flyknit upper provides
            a sock-like fit, and the molded heel cup ensures stability. Whether
            you're logging miles or sprinting, the Epic React Elite delivers a
            smooth and comfortable ride.
          </p>
        </div>

        <div class="characteristics-container">
          <p class="title">Characteristics</p>
          <p class="characteristic">
            <span class="characteristic-type">Brand</span> Nike
          </p>
          <p class="characteristic">
            <span class="characteristic-type">Material</span> Flyknit Upper,
            React Foam Midsole, Rubber Outsole
          </p>
          <p class="characteristic">
            <span class="characteristic-type">Details</span>
            Precision-engineered traction pattern
          </p>
          <p class="characteristic">
            <span class="characteristic-type">Color</span> White
          </p>
          <p class="characteristic">
            <span class="characteristic-type">Code</span> ERE-731
          </p>
        </div>
      </div>
    </section>

    <footer>
      <div class="wrapper">
        <div class="footer-top">
          <a href="index.html" class="logo"
            ><img src="assets/logo/Logo.svg" alt="Logo"
          /></a>

          <ul class="footer-navigation">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>

          <div class="socials-icon-container">
            <a href="#"
              ><img src="assets/icons/Icon_Instagram.svg" alt="Instagram"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Twitter.svg" alt="Twitter X"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Facebook.svg" alt="Facebook"
            /></a>
          </div>
        </div>

        <div class="footer-bottom">
          <p>All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
