<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/style.css" />

    <title>Stieno Shoes</title>
  </head>
  <body>
    <header class="primary-header">
      <div class="wrapper">
        <a href="index.html" class="logo"
          ><img src="assets/logo/Logo.svg" alt="Logo"
        /></a>

        <nav>
          <ul class="primary-navigation">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>
        </nav>

        <div class="nav-icon-container">
          <a href="#"
            ><img src="assets/icons/Icon_Search.svg" alt="Search"
          /></a>
          <a href="#"
            ><img src="assets/icons/Icon_Shoppingcart.svg" alt="Shopping Cart"
          /></a>
        </div>
      </div>
    </header>

    <section class="product-section">
      <div class="wrapper"></div>
    </section>

    <footer>
      <div class="wrapper">
        <div class="footer-top">
          <a href="index.html" class="logo"
            ><img src="assets/logo/Logo.svg" alt="Logo"
          /></a>

          <ul class="footer-navigation">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>

          <div class="socials-icon-container">
            <a href="#"
              ><img src="assets/icons/Icon_Instagram.svg" alt="Instagram"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Twitter.svg" alt="Twitter X"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Facebook.svg" alt="Facebook"
            /></a>
          </div>
        </div>

        <div class="footer-bottom">
          <p>All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
