<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="CSS/normalize.css" />
    <link rel="stylesheet" href="CSS/style.css" />

    <script src="Javascript/main.js" defer></script>

    <title>Stieno Shoes</title>
  </head>
  <body>
    <header class="primary-header">
      <div class="wrapper">
        <a href="index.html" class="logo">
          <img src="assets/logo/Logo.svg" alt="Logo" />
        </a>

        <nav
          id="primary-navigation"
          data-visible="false"
          class="primary-navigation"
        >
          <img
            src="assets/icons/Icon_Close.svg"
            class="close-btn"
            alt="Close"
          />

          <ul class="primary-nav-list">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>
        </nav>

        <div class="nav-icon-container">
          <a href="#" class="search-icon">
            <img src="assets/icons/Icon_Search.svg" alt="Search" />
          </a>
          <a href="shoppingCart.html" class="shoppingCart-icon">
            <img src="assets/icons/Icon_Shoppingcart.svg" alt="Shopping Cart" />
          </a>
          <a href="#" class="mobile-burger">
            <img src="assets/icons/Icon_Burger.svg" alt="Navigation Menu" />
          </a>
        </div>
      </div>
    </header>

    <section class="cart-section">
      <div class="wrapper">
        <div class="title-container">
          <a href="catalog.html" class="back-btn">
            <img src="assets/icons/Icon-ChevronLeft.svg" alt="Back" />
            <p>Back to catalog</p>
          </a>

          <h1 class="title">Your shopping cart.</h1>
        </div>

        <div class="cart-items-container">
          <div class="cart-item">
            <div class="cart-item-content">
              <img src="assets/shoes/Shoe1.png" alt="Shoe" class="item-image" />
              <div class="item-info">
                <div class="item-name-size">
                  <p class="name">Airmax apex velocity</p>
                  <p class="size">Size 8.5</p>
                  <p class="price">
                    <span class="label">Pricing</span> € 240.00
                  </p>
                </div>

                <hr />

                <p class="color">Black</p>

                <hr class="breakpoint-992" />

                <div class="item-count">
                  <button class="counter-btn plus-btn">
                    <img src="assets/icons/Icon_Plus.svg" alt="Plus" />
                  </button>

                  <p class="count">2</p>

                  <button class="counter-btn minus-btn">
                    <img src="assets/icons/Icon_Minus.svg" alt="Minus" />
                  </button>
                </div>

                <hr class="breakpoint-992" />

                <p class="price"><span class="label">Pricing</span> € 240.00</p>

                <hr />
              </div>
            </div>

            <button class="delete-btn">
              <img src="assets/icons/Icon_Close.svg" alt="delete" />
            </button>
          </div>

          <div class="cart-item">
            <div class="cart-item-content">
              <img src="assets/shoes/Shoe2.png" alt="Shoe" class="item-image" />
              <div class="item-info">
                <div class="item-name-size">
                  <p class="name">Airmax apex velocity</p>
                  <p class="size">Size 8.5</p>
                  <p class="price">
                    <span class="label">Pricing</span> € 240.00
                  </p>
                </div>

                <hr />

                <p class="color">Black</p>

                <hr class="breakpoint-992" />

                <div class="item-count">
                  <button class="counter-btn plus-btn">
                    <img src="assets/icons/Icon_Plus.svg" alt="Plus" />
                  </button>

                  <p class="count">2</p>

                  <button class="counter-btn minus-btn">
                    <img src="assets/icons/Icon_Minus.svg" alt="Minus" />
                  </button>
                </div>

                <hr class="breakpoint-992" />

                <p class="price"><span class="label">Pricing</span> € 240.00</p>

                <hr />
              </div>
            </div>

            <button class="delete-btn">
              <img src="assets/icons/Icon_Close.svg" alt="delete" />
            </button>
          </div>

          <div class="cart-item">
            <div class="cart-item-content">
              <img src="assets/shoes/Shoe3.png" alt="Shoe" class="item-image" />
              <div class="item-info">
                <div class="item-name-size">
                  <p class="name">Airmax apex velocity</p>
                  <p class="size">Size 8.5</p>
                  <p class="price">
                    <span class="label">Pricing</span> € 240.00
                  </p>
                </div>

                <hr />

                <p class="color">Black</p>

                <hr class="breakpoint-992" />

                <div class="item-count">
                  <button class="counter-btn plus-btn">
                    <img src="assets/icons/Icon_Plus.svg" alt="Plus" />
                  </button>

                  <p class="count">2</p>

                  <button class="counter-btn minus-btn">
                    <img src="assets/icons/Icon_Minus.svg" alt="Minus" />
                  </button>
                </div>

                <hr class="breakpoint-992" />

                <p class="price"><span class="label">Pricing</span> € 240.00</p>

                <hr />
              </div>
            </div>

            <button class="delete-btn">
              <img src="assets/icons/Icon_Close.svg" alt="delete" />
            </button>
          </div>

          <div class="cart-item">
            <div class="cart-item-content">
              <img src="assets/shoes/Shoe4.png" alt="Shoe" class="item-image" />
              <div class="item-info">
                <div class="item-name-size">
                  <p class="name">Airmax apex velocity</p>
                  <p class="size">Size 8.5</p>
                  <p class="price">
                    <span class="label">Pricing</span> € 240.00
                  </p>
                </div>

                <hr />

                <p class="color">Black</p>

                <hr class="breakpoint-992" />

                <div class="item-count">
                  <button class="counter-btn plus-btn">
                    <img src="assets/icons/Icon_Plus.svg" alt="Plus" />
                  </button>

                  <p class="count">2</p>

                  <button class="counter-btn minus-btn">
                    <img src="assets/icons/Icon_Minus.svg" alt="Minus" />
                  </button>
                </div>

                <hr class="breakpoint-992" />

                <p class="price"><span class="label">Pricing</span> € 240.00</p>

                <hr />
              </div>
            </div>

            <button class="delete-btn">
              <img src="assets/icons/Icon_Close.svg" alt="delete" />
            </button>
          </div>
        </div>

        <div class="cart-bottom">
          <a href="catalog.html" class="back-btn">
            <img src="assets/icons/Icon-ChevronLeft.svg" alt="Back" />
            <p>Back to catalog</p>
          </a>

          <p class="subtotal"><span class="label">Subtotal:</span> €210.00</p>
        </div>
      </div>
    </section>

    <aside class="payment-section">
      <div class="wrapper">
        <div class="title-container">
          <h2 class="title">Card detail.</h2>

          <p class="select-text">Select card type</p>

          <div class="payment-options">
            <button class="payment-option-btn">
              <img src="assets/icons/Icon_Logo_Visa.svg" alt="Visa" />
            </button>
            <button class="payment-option-btn">
              <img src="assets/icons/Icon_Logo_PayPal.svg" alt="PayPal" />
            </button>
            <button class="payment-option-btn">
              <img
                src="assets/icons/Icon_Logo_Mastercard.svg"
                alt="Mastercard"
              />
            </button>
          </div>
        </div>

        <form action="#" method="post">
          <div class="form-input card-number-container">
            <input
              type="text"
              class="input-field"
              placeholder="card number"
              name="card-number"
              id="card-number"
              required
            />
            <label for="card-number" class="input-label">card number</label>
          </div>

          <div class="card-bottom-info">
            <div class="form-input card-expiry-container">
              <input
                type="text"
                class="input-field"
                placeholder="card expiry"
                name="card-expiry"
                id="card-expiry"
                required
              />
              <label for="card-expiry" class="input-label">card expiry</label>
            </div>

            <div class="form-input card-CVV-container">
              <input
                type="text"
                class="input-field"
                placeholder="CVV"
                name="card-CVV"
                id="card-CVV"
                required
              />
              <label for="card-CVV" class="input-label">CVV</label>
            </div>
          </div>

          <button type="submit" class="checkout-btn">Checkout</button>
        </form>
      </div>
      <div class="disclaimer-container">
        <p class="disclaimer">
          We carefully pack and deliver your shoes with utmost care, ensuring
          they arrive at your doorstep in perfect condition. Unbox happiness as
          you receive your new pair, thoughtfully delivered to you with
          precision and care.
        </p>
      </div>
    </aside>

    <footer>
      <div class="wrapper">
        <div class="footer-top">
          <a href="index.html" class="logo"
            ><img src="assets/logo/Logo.svg" alt="Logo"
          /></a>

          <ul class="footer-navigation">
            <li class="nav-link"><a href="index.html">Home</a></li>
            <li class="nav-link"><a href="catalog.html">Catalog</a></li>
            <li class="nav-link"><a href="#">About Us</a></li>
          </ul>

          <div class="socials-icon-container">
            <a href="#"
              ><img src="assets/icons/Icon_Instagram.svg" alt="Instagram"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Twitter.svg" alt="Twitter X"
            /></a>
            <a href="#"
              ><img src="assets/icons/Icon_Facebook.svg" alt="Facebook"
            /></a>
          </div>
        </div>

        <hr />

        <div class="footer-bottom">
          <p>All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
