{% extends "_layout" %}

{% block content %}
        <section class="product-section">
      <div class="wrapper">
        <div class="product-container">
          <a href="catalog.html" class="back-btn">
            <img src="assets/icons/Icon-ChevronLeft.svg" alt="Back" />
            <p>Back to catalog</p>
          </a>

          <div class="product-content-container">
            <div class="product-image">
              <img src="assets/shoes/Shoe3.png" alt="Shoe" />
            </div>

            <div class="product-info">
              <h1 class="name">Epic React Elite</h1>
              <p class="color">Arctic Frost ‘White’</p>

              <div class="sizes-container">
                <p class="size-container-label">Select size</p>
                <div class="size-boxes-container">
                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">4</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">5</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">5.5</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">6</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">6.5</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">7</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">8</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">9</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">9.5</span>
                  </label>

                  <label for="shoe-size1" class="input-container">
                    <input type="radio" name="shoe-size" class="shoe-size" />
                    <span class="size-number">10</span>
                  </label>
                </div>
              </div>

              <div class="button-price-container">
                <button>+ Add to cart</button>
                <p class="price">€ 230.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="description-section">
      <div class="wrapper">
        <div class="description-info-container">
          <div class="description-container">
            <h2 class="title">Description.</h2>
            <p class="subtitle">About model</p>
            <p class="text">
              Unleash your running potential with the Nike Epic React Elite.
              These lightweight and responsive running shoes feature the
              innovative React foam for exceptional energy return. The Flyknit
              upper provides a sock-like fit, and the molded heel cup ensures
              stability. Whether you're logging miles or sprinting, the Epic
              React Elite delivers a smooth and comfortable ride.
            </p>
          </div>

          <div class="sizes-container">
            <p class="size-container-label">Select size</p>
            <div class="size-boxes-container">
              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">4</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">5</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">5.5</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">6</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">6.5</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">7</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">8</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">9</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">9.5</span>
              </label>

              <label for="shoe-size1" class="input-container">
                <input type="radio" name="shoe-size" class="shoe-size" />
                <span class="size-number">10</span>
              </label>
            </div>
          </div>

          <button class="add-cart-btn">+ Add to cart</button>
        </div>

        <div class="characteristics-container">
          <p class="subtitle">Characteristics</p>
          <p class="characteristic"><span class="label">Brand</span> Nike</p>
          <p class="characteristic">
            <span class="label">Material</span> Flyknit Upper, React Foam
            Midsole, Rubber Outsole
          </p>
          <p class="characteristic">
            <span class="label">Details</span>
            Precision-engineered traction pattern
          </p>
          <p class="characteristic"><span class="label">Color</span> White</p>
          <p class="characteristic"><span class="label">Code</span> ERE-731</p>
        </div>
      </div>
    </section>
{% endblock %}